.header_ctn {
    height: 130px;
    position: relative;
    width: 100%;
    background-color: red;
}

.header {
    height: 120px;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
    background-color: white;
    transition: height 0.3s ease;
}

.header.colai {
    height: 70px;
}

.header_top {
    margin: auto;
    height: 70px;
    width: 76%;
    display: flex;
    padding-top: 15px;
}

.header_top_left {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    padding: 0 20px;
}


.header_top_left img {
    cursor: pointer;
    height: 60%;
    max-width: 50%;
}

.header_top_mid {
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
}

.header_top_mid svg {
    margin: 0 8px;
    height: 60%;

}

.search_loc {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00B050;
    color: white;
    width: 80px;
    height: 80%;
    border-radius: 20px;
    cursor: pointer;
}

.search_loc svg {
    margin: 0;
}

.search_loc span {
    height: 60%;
}

.search {
    display: flex;
    width: 100%;
    height: 80%;
    border-radius: 20px;
    align-items: center;
    background-color: #F2F2F2;

}

.search input {
    width: 100%;
    height: 85%;
    outline: none;
    border: none;
    background-color: inherit;
    font-size: 16px;
}

.header_top_right {
    height: 100%;
    width: 35%;
    display: flex;
    justify-content: end;
    align-items: center;

    gap: 40px;
    padding: 0 20px;
}

.header_top_right_taikhoan {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 5px;
}


.header_top_right_taikhoan_span {
    position: absolute;
    font-size: 10px;
    bottom: 90%;
    left: 30px;
    min-width: 100px;
}


.header_top_right_giohang {
    cursor: pointer;
}

.header_bottom {
    height: 50px;
    width: 76%;
    margin: auto;
    display: flex;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(167, 142, 142, 0.2);
    background-color: white;
}

.header_bottom.bienmat {
    display: none;
}

/* ul */
.topMenu_list {
    list-style: none;
    display: flex;
    gap: 20px;
    height: 100%;
    width: 100%;
    padding: 3px 0;
    justify-content: space-between;
}

.topMenu_list_item {
    position: relative;
    font-size: 17px;
    font-weight: 300;
    min-width: 11%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-color 0.3s ease;
    border-bottom: 3px solid transparent;
    box-sizing: content-box;
    cursor: pointer;
}

.topMenu_list_item::after {
    position: absolute;
    height: 3px;
    width: 100%;
    background: #00B050;
    transform: scale(0);
    transform-origin: center;
    transition: transform 0.3s ease;
    content: "";
    bottom: 0;
}

.topMenu_list_item:hover::after {
    transform: scaleX(1);
}

/* menu dang nhap */
.menu_dangnhap li a i{
    margin: 7px;
    color: #00B050;
}
.header_top_right_taikhoan_name {
    font-size: 15px;
    position: relative;
    z-index: 1px;
}
.menu_dangnhap{
    position: absolute;
    z-index: 20;
    list-style: none;
    display: none;
    padding: 0;
    margin-top: 5px;
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 180px;
    background-color: white;
    top: 10px;
}
.menu_dangnhap li:hover{
    background-color: #F1F1F1;
}
.menu_dangnhap li a:hover{
    color: black;
}
.menu_dangnhap a{
    color: black;
    text-decoration: none;
    display: block;
    margin: 0 15px;
}
.header_top_right_taikhoan_name:hover .menu_dangnhap{
    display: block;
}