.account_container {
    background-color: #fff;
    text-align: center;
    z-index: 9999;
    width: 800px;
    max-width: 90%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 25px;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    max-height: 90vh;
    overflow-y: auto;
}

.account_container * {
    filter: blur(0px) !important;
}


.account_container .close_button {
    background-color: #aaa;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    line-height: 1;
    font-size: 26px;
    border-radius: 50%;
    color: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account_container h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
}

.account_container p {
    margin-bottom: 30px;
    color: #666;
    font-size: 14px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}


.form_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.info_column,
.password_column {
    flex: 1;
    min-width: 300px;
    text-align: left;
}


.form_group {
    text-align: left;
    margin-bottom: 15px;
}

.form_group label {
    font-weight: bold;
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}


.form_group input[type="text"],
.form_group input[type="email"],
.form_group input[type="password"] {
    margin: 0;
    display: block;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 40px;
    padding: 0 10px;
}

.form_group input[readonly] {
    background-color: #eee;
    cursor: not-allowed;
}


.form_group input:focus {
    border-color: #d9534f;
    outline: none;
    box-shadow: 0 0 5px rgba(217, 83, 79, 0.3);
}


.btn {
    background-color: #00B050;
    color: white;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    padding: 14px;
    border-radius: 5px;
    height: 40px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}


.btn_save {
    background-color: #00B050;
}
.btn_save:hover {
    background-color: #00B050;
}

.btn_password {
    background-color: #00B050;
}
.btn_password:hover {
    background-color: #00B050;
}