<<<<<<< HEAD

/* dang ki */
.thongBaoLoi {
    color: red; 
    font-size: 0.9em;
    margin-top: 2px;
    height: 1em;
    font-weight: 500;
}
=======
/* chung */
body{
    background-color: blue;
    margin: 0;
    padding: 0;
    background-position: center;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
/* dang ki */
>>>>>>> 36061268135b0f18d9a54c0dddad13e20ba9e3c1
.signup_modal{
    background-color: #fff;
    text-align: center;
    z-index: 2;
    width: 400px;
    max-width: 43%;
    position: relative;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
<<<<<<< HEAD
    padding: 20px;
=======
    padding: 10px;
>>>>>>> 36061268135b0f18d9a54c0dddad13e20ba9e3c1
}
.close_button{
    background-color: #aaa;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    line-height: 1;
    font-size: 26px;
    border-radius: 50%;
    color: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup_modal{
    background-color: #fff;
    text-align: center;
<<<<<<< HEAD
    z-index: 9999;
    width: 400px;   
    max-width: 30%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 25px;  
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    filter: blur(0px) !important;
}
.signup_modal * {
    filter: blur(0px) !important;
=======
    z-index: 2;
    width: 400px;
    max-width: 43%;
    position: relative;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
>>>>>>> 36061268135b0f18d9a54c0dddad13e20ba9e3c1
}
.signup_modal p{
    margin-bottom: 30px;
    color: #666;
<<<<<<< HEAD
    font-size: 12px;
}
.signup_modal h2{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
=======
    font-size: 14px;
>>>>>>> 36061268135b0f18d9a54c0dddad13e20ba9e3c1
}
.signup_modal form label{
    font-weight: bold;
    font-size: 16px;
}
.form_dangki{
    text-align: left;
<<<<<<< HEAD
    margin-bottom: 10px;
}
.checkbox {
    text-align: left;
    margin-top: 10px; /* Thêm chút khoảng cách cho đẹp */
=======
    margin-bottom: 5px;
>>>>>>> 36061268135b0f18d9a54c0dddad13e20ba9e3c1
}
#tick{
    color: black;
    font-weight: 100;
<<<<<<< HEAD
    font-size: 13px;
    text-align: left;
=======
    font-size: 16px;
>>>>>>> 36061268135b0f18d9a54c0dddad13e20ba9e3c1
}
#tick a{
    text-decoration: none;
    color : #00B050;
<<<<<<< HEAD
    font-size: 13px;

=======
>>>>>>> 36061268135b0f18d9a54c0dddad13e20ba9e3c1
}
#tick a:hover{
    color : #00993d;
}
.signup_modal form label input{
<<<<<<< HEAD
    margin-bottom: 10px;
    margin-top: 5px ;
    display: block;
    width: 100%;
    font-size: 16px ;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 35px;
    padding: 0 10px;
}
.form_dangki input::placeholder {
    color: #aaa;
    font-size: 16px;
=======
    margin-bottom: 5px;
    margin-top: 5px ;
    display: block;
    width: 100%;
    font-size: 25px ;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.form_dangki input::placeholder {
    color: #aaa;
    font-size: 15px;
>>>>>>> 36061268135b0f18d9a54c0dddad13e20ba9e3c1
}
.form_dangki input:focus {
    border: 2px solid #00B050;
    outline: none;
}
.signup_button{
    background-color: #00B050;
    color: white;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    width: 100%;
<<<<<<< HEAD
    font-size: 16px;
    font-weight: bold;
    padding: 14px;
    border-radius: 5px;
    height: 40px;
    margin: 10px 0;
=======
    font-size: 12px;
    font-weight: bold;
    padding: 14px;
>>>>>>> 36061268135b0f18d9a54c0dddad13e20ba9e3c1
}
.signup_button:hover {
    background-color: #00993d;
}
#DangNhap{
    color: black;
<<<<<<< HEAD
    font-size: 15px;
=======
    font-size: 18px;
>>>>>>> 36061268135b0f18d9a54c0dddad13e20ba9e3c1
}
#DangNhap a{
    text-decoration: none;
    color: #00B050;
}
#DangNhap a:hover{
    color: #00993d;
}