.giohang {
    width: 24%;
    height: 98%;
    background-color: #F8F8F8;
    position: fixed;
    right: 0;
    top: 10px;
    margin: auto 10px;
    padding: 0 15px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 9999;
    transition: 0.2s ease;
    right: -600px;
}


.giohang_top {
    height: 8%;
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    position: relative;
}

.giohang_top_icon {
    height: 25px;
    width: 25px;
}

.giohang_top_huy {
    background-color: #aaa;
    position: absolute;
    margin: auto 0;
    right: 0;
    cursor: pointer;
    border-radius: 50%;
    color: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    line-height: 1;
    z-index: 10;
    border: none;
    outline: none;
}

.giohang_mid {
    height: 75%;
    border-top: 1px solid;
    border-bottom: 1px solid;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.giohang_mid_donhang {
    border-bottom: 1px solid;
    height: 100px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    justify-content: space-between;
}

.giohang_mid_donhang_top {
    display: flex;
    justify-content: space-between;
}

.giohang_mid_donhang_top_gia {
    color: red;
    font-weight: bold;
}

.giohang_mid_donhang_chucnang {
    display: flex;
    justify-content: space-between;
}

.giohang_mid_donhang_chucnang_xoa {
    width: 60px;
    background-color: #00B050;
    color: white;
    font-weight: 300;
    font-size: 13px;
    border: 1px solid rgb(221, 218, 218);
    box-shadow: 0 1px 4px rgba(127, 125, 125, 0.4);
}

.donvi {
    color: red;
    text-decoration: underline;
    font-size: 14px;
    margin: 2px;
}

.giohang_mid_donhang_chucnang_soluong {
    display: flex;
    gap: 2px;
}

.giohang_mid_donhang_chucnang_soluong button {
    height: 20px;
    width: 20px;

}

.giohang_mid_donhang_chucnang_soluong_value {
    height: 20px;
    width: 20px;
    border: 1px solid;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.giohang_bottom {
    height: 15%;
}

.giohang_bottom_top {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.giohang_bottom_bottom {
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.giohang_bottom_bottom_thanhtoan {
    font-size: 13px;
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    font-weight: 600;
}

.giohang_bottom_bottom_them {
    font-size: 13px;
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    font-weight: 600;
}

.giohang_bottom_top_thanhtien {
    color: red;
    font-weight: bold;
}

.giohang_bottom_bottom button {
    width: 100%;
    height: 70%;
    background-color: #00B050;
    color: white;
}

.giohang_trong {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.giohang_mid_donhang_phienban{
    font-size: 14px;
}