.home {
    /* display: flex;  */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home_banner {
    height: 390px;
    width: 100%;
    background-color: red;
}

.home_banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.home_sanpham {
    background-color: white;
}

.home_sanpham_list {

    width: 94%;
    margin: auto;
    display: flex;
    list-style: none;
    justify-content: start;
    flex-wrap: wrap;
    padding: 0 12px;
    gap: 12px;
}

.home_sanpham_list_item {
    flex-basis: 19%;
    height: 350px;
    display: flex;
    border: 1px solid rgb(221, 218, 218);
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    gap: 10px;
    align-items: center;
    padding-bottom: 5px;
}

.home_sanpham_list_item .sanpham_name{
    padding: 0 10px;
}
.sanpham_bottom_ctn {
    width: 90%;
    height: 100%;
    margin: auto;
}

.sanpham_name {
    margin: 5px 0;
    word-wrap: break-word;
    min-height: 50px;
    font-size: 14px;
    font-weight: 200;
}

.sanpham_prime {
    color: red;
    font-size: 18px;
    font-weight: bold;
}

.sanpham_giamgia {
    color: #9d9c99;
    font-size: 15px;
    text-decoration: line-through;
}

.sanpham_thongso {
    display: flex;
    gap: 10px;
    font-size: 16px;
}

.sanpham_daban {
    font-size: 13px;
    font-weight: 100;
}

.sanpham_thongso_item {
    background-color: #f1f1f1;
}

.sanpham_muangay {
    width: 150px;
    height: 30px;
    background-color: #00B050;
    margin: auto;
    color: white;
    font-weight: 400;
}
.sanpham_muangay:hover{
    background-color: #067d3c;
}

.home_sanpham_list_item_img {
    height: 50%;
    border-radius: inherit;
    width: 100%;
}

.sanpham_muangay {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.home_sanpham_phantrang {
    display: flex;
    gap: 20px;
    height: 70px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.home_sanpham_phantrang button {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.home_sanpham_phantrang button:hover {
    background-color: #00B050;
    color: white;
}

.home_sanpham_phantrang button.nhan {
    background-color: #00B050;
    color: white;
}

.home_sanpham_tieude {
    height: 80px;
    width: 100%;
    text-align: center;
    line-height: 80px;
}

.home_sanpham_tieude span {
    position: relative;
    padding: 5px;
}

.home_sanpham_tieude span::after {
    position: absolute;
    bottom: 0;
    left: 10%;
    content: "";
    height: 3px;
    width: 80%;
    background-color: #00B050;
}


.home_spnoibat {
    background-color: white;
}

.home_spnoibat_top {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_spnoibat_top h2 {
    position: relative;
    height: 30px;
}

.home_spnoibat_top h2::after {
    position: absolute;
    bottom: 0;
    left: 10%;
    content: "";
    height: 3px;
    width: 80%;
    background-color: #00B050;
}

.home_spnoibat_bottom {
    display: flex;
    height: 500px;
    width: 100%;
}

.home_spnoibat_bottom_img {
    height: 500px;
    width: 380px;
    object-fit: cover;
    object-position: top;
}

.home_spnoibat_bottom_list {
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    gap: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.home_spnoibat_bottom_list_item {
    height: 100%;
    flex: 1;
    border: 1px solid rgb(221, 218, 218);
}


.home_spnoibat_bottom_list_item .sanpham_prime {
    margin: 10px 0;
}

.home_spnoibat_bottom_list_item .sanpham_giamgia {
    margin: 8px 0;
}

.home_spnoibat_bottom_list_item .sanpham_thongso {
    margin: 10px 0;
}

.home_spnoibat_bottom_list_item .sanpham_daban {
    margin: 10px 0;
}

.home_spnoibat_bottom_list_item img {
    width: 100%;
}



.home_tintuc {
    background-color: white;
}

.home_tintuc h2 {
    height: 40px;
    display: flex;
    justify-content: start;
    padding: 0 10px;
    align-items: center;
}

.home_tintuc_list {
    display: flex;
    list-style: none;
    padding: 10px;
    justify-content: space-evenly;
    align-items: stretch;
}

.home_tintuc_list_item {
    width: 24%;
    height: 220px;
}

.home_tintuc_list_item img {
    
    aspect-ratio: 16 / 9;
    width: 100%;
}

.home_tintuc_list_item-tieude {
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    font-size: 14px;
}

.xemthem {
    display: block;
    font-weight: 600;
    margin: 10px auto;
    margin-top: 0;
    text-align: center;
}

.xemthem a {
    font-size: 15px;
    color: #00B050;
}

.home_tintuc_xemthem a:hover {
    text-decoration: underline;
}