* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif, Arial, Helvetica;
}

html,
body {
    min-height: 100dvh;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #ECEEF1;
}

main {
    flex: 1;
}

ul {
    margin: 0;
    padding: 0;
}