* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif, Arial, Helvetica;
    user-select: none;
}

html,
body {
    min-height: 100dvh;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #ECEEF1;
}

main {
    flex: 1;
}

ul {
    margin: 0;
    padding: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(1px); /* làm mờ nền */
    background: rgba(0, 0, 0, 0.3); /* thêm tối nhẹ */
    z-index: 9998;
    display: none;
}